body, .ui-body-c, .ui-overlay-c {	
  background:url('../img/logo.png') no-repeat center 10px, url('../img/background.jpg') #644dc8;
  color:white;
  text-shadow:none;
  padding-top:180px;
  }
  
  
  
#wrap {
      max-width:600px;
      width:80%;
      margin:0 auto;
     }  
     
input.ui-input-text, textarea.ui-input-text, .ui-btn{
border-radius:0;
background:white;
border:1px solid #e7ffe0;
color:black;

}