/* CSS Mobile Reset */
html, body {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	font-size: 16px;
	background: #fff;
	padding: 0;
	margin: 0;
	color: #000;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
p img {
	float: left;
	margin: 0 10px 5px 0;
	padding: 0;
}
img {
	border: 0;
	max-width: 100%;
}
table {
	width: auto;
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background: #ebebeb;
}
.clear {
	visibility: none;
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	height: 0;
}
.desetleva {
	padding-left: 10px;
}
#pruh {background:#5643AE;text-align:center;}




.accent {
	color: #8cbf26
}
.white {
	color: #fff
}
.black {
	color: #000
}
.blue {
	color: #1ba1e2
}
.brown {
	color: #a05000
}
.green {
	color: #393
}
.lime {
	color: #8cbf26
}
.magenta {
	color: #ff0097
}
.orange {
	color: #f09609
}
.pink {
	color: #e671b8
}
.purple {
	color: #a200ff
}
.red {
	color: #e51400
}
.teal {
	color: #00aba9
}
.whitebg {
	background-color: #fff
}
.blackbg {
	background-color: #000
}
.bluebg {
	background-color: #1ba1e2
}
.brownbg {
	background-color: #a05000
}
.greenbg {
	background-color: #393
}
.limebg {
	background-color: #8cbf26
}
.magentabg {
	background-color: #ff0097
}
.orangebg {
	background-color: #f09609
}
.pinkbg {
	background-color: #e671b8
}
.purplebg {
	background-color: #a200ff
}
.redbg {
	background-color: #e51400
}
.tealbg {
	background-color: #00aba9
}
#headingstyles {
	font-family: "Segoe UI Light", "Helvetica Neue", 'RobotoLight', "Segoe UI", "Segoe WP", sans-serif;
	font-weight: 100;
	margin-top: 5px;
	margin-bottom: 0px;
	text-transform: lowercase
}
body {
	font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;
	font-size: 14px
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI Light", "Helvetica Neue", 'RobotoLight', "Segoe UI", "Segoe WP", sans-serif;
	font-weight: 100;
	margin-top: -5px;
	margin-bottom: 0px;
}
h1 {
	font-size: 38px
}
h2 {
	font-size: 30px
}
h2 a {
     color: #333333!important;
     text-decoration:none!important;
     font-weight:100!important;
     }
h3 {
	font-size: 20px
}
h4, h5, h6 {
	font-weight: normal;
	text-transform: uppercase
}

body, .ui-content {
	padding: 0;
	margin: 0;
	background: white;
}
.fialova {
	background: url('../img/logo.png') no-repeat center 10px, url('../img/background.jpg') #644dc8;
	color: white;
	text-shadow: none;
	width: 550px;
	padding: 210px 15px 40px 15px;
	text-align: center;
  min-height:900px;
  line-height:1.8;
}
.fialova a {
	color: white!important;
}
#wrap {
	max-width: 800px;
  padding-top:25px;
  margin:0 auto;
}
.button {background:#ccc;color:black;padding:8px;display:block;width:160px;font-size:150%;text-decoration:none;border-left:10px solid #777;margin-top:35px;}
.button:hover {background:#bbb;border-left:10px solid #666;}
input.ui-input-text, textarea.ui-input-text, .ui-btn {
	border-radius: 0;
	background: white;
	border: 1px solid #e7ffe0;
	color: black;
}
.screenshot, .fialova {
	float: left;
}
.screenshot {
	padding: 20px 0 0 40px
}
li {
	list-style-type: none;
}
ul {
	padding: 0;
}